body {
    font-family: "Poppins", sans-serif;
}



h1 {
    color:#2334cf;
    font-size: 45px;
    font-family: "Boldonse", system-ui;      
}

h2, h3, h4, h5, h6 {
    font-family: "Boldonse", system-ui;    
}

img{
    width: 600;
    height: 400px;
    border-radius: 8px;
}
a {
color: rgb(206, 22, 22);
text-decoration: none;
font-size: 20px;
font-weight:  800px;
transition: all .7s;
}

a:hover{
    color:black;
    text-decoration: underline;
}
article {
    font-size: 15px;
    text-decoration: dotted;
}